<h2>My Dogs</h2>
<div>
  <label>Dog name:</label> <input #dogName />
  <button (click)="add(dogName.value); dogName.value=''">
    Add
  </button>
</div>
<ul class="doges">
    <li *ngFor="let dog of dogs"
        [class.selected]="dog === selectDog"
        (click)="onSelect(dog)">
        <span class="badge">{{dog.id}}</span>{{dog.name}}
        <button class="delete" (click)="delete(dog); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectDog">
    <h2>{{selectDog.name | uppercase}} is my dog </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
